h1{
	color:#AAAAAA;
	z-index: 1;
}  


#container {

}

#topBar{
	border:inset;
    border-color: #163AFF;
    border-width: thick;
	top:0px;
	position:absolute;
	width:1280px;
	height:80px;
    font-family: 'Cabin', sans-serif;
}

#stage{
	border:inset;
    border-color: #163AFF;
    border-width: thick;
	position: absolute;
	top:100px;
}

#backgrounds {
	border:inset;
    border-color: #163AFF;
    border-width: thick;
	position:absolute;
	top:460px;
	left:1080px;
	

}
#sprites {
    border:inset;
    border-color: #163AFF;
    border-width: thick;
	position:absolute;
	top:100px;
	left:1080px;
	
}

.keyFrame {
	border: none;
	width:50px;
	height:50px;
	border-radius:50%;
	text-align: center;
	margin-top:10px;
	background-color: #FF6600;
	z-index: 25;
}

